<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap-paginator.min.js"></script>
<body>

    <ul id="test">

    </ul>
    <script>
        $(function () {
            var container = $('#test');
            var option = {
                currentPage:2,
                totalPages:5,
                numberOfPages:5,
                bootstrapMajorVersion:3
            };
            container.bootstrapPaginator(option);
        })
    </script>
</body>
