<% include header%>
<ul class="nav navbar-nav side-nav">
    <li><a href="/server"><i class="fa fa-bullseye"></i>用户管理</a></li>
    <li class=""><a href="/article"><i class="fa fa-bullseye"></i>文章管理</a></li>
    <li class="selected"><a href="/product"><i class="fa fa-file-text-o"></i> 案例管理</a></li>
    <li class=""><a href="/contacts"><i class="fa fa-file-text-o"></i> 联系人管理</a></li>
</ul>
<% include nav %>
<div id="wrapper">
    <div class="container">
        <div class="row">
            <% if(error) {%>
            <div class="input-group has-warning" style="width: 340px;text-align: left; margin-bottom: 10px">
                <label class="control-label" for="inputSuccess"><%= error %></label>
            </div>
            <%} %>
            <div class="col-sm-12">
                <form method="post" action="/addproduct">
                    <div class="form-group">
                        <label for="exampleInputEmail1">标题</label>
                        <input type="text" class="form-control"  placeholder="请输入标题" name="title">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">链接</label>
                        <input type="text" class="form-control"  placeholder="请输入标题" name="prourl">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">描述</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="请输入标签" name="des">
                    </div>
                    <label for="exampleInputPassword1">图片</label>
                    <div id="editor" placeholder="请输入内容" rows="30" name="content" style="height: 500px"></div>
                    <button type="submit" class="btn btn-default pull-right btn-primary">发表</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
</script>
<% include footer%>
