<p class="navbar navbar-fixed-bottom" style="text-align: center;line-height: 50px;background: rgba(60, 54, 54, 0.68);margin-bottom: 0;margin-top: 100px">Copyright © 2016.All rights reserved.蜀ICP备15020744号-1</p>
</body>
</html>