<% include header%>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li><a href="/blog">首页 <span class="sr-only">(current)</span></a></li>
		<li><a href="/archive">存档 <span class="sr-only">(current)</span></a></li>
		<li><a href="/resume">关于 <span class="sr-only">(current)</span></a></li>
		<li><a href="/">返回到网站主页 <span class="sr-only">(current)</span></a></li>
	</ul>
</div>
</div>
</nav>
<%
function getdate(date) {
	return {
		year: date.getFullYear(),
		month: date.getFullYear() + "-" + (date.getMonth() + 1),
		day: date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate(),
		minute: date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() +
		":" + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes())
	}
}
function randomColor(){
	var r = Math.floor(Math.random()*256);
	var g = Math.floor(Math.random()*256);
	var b = Math.floor(Math.random()*256);
	return "rgb("+r+","+g+","+b+")";
};
%>
<div class="container" style="margin-top: 100px;margin-bottom: 100px;">
	<div class="row">
		<div class="col-sm-9">
			<h2>个人介绍</h2>
			<hr/>
			<p style="text-indent: 2em">博主名叫李洪强，10 年毕业于电子科技大学成都需要计算机应用专业，四川绵阳人。曾经从事过软件测试（2010-2014），目前专注于 Web 端开发,并对nodejs有深入的兴趣。您说看到的个人博客系统就是通过Nodejs进行后端开发。</p>
			<p></p>
			<hr/>
			<h2>以下是我的工作经历：</h2>
			<hr/>
			<h4>工作经验：6年</h4>
			<p>船渡科技，前端主管+测试主管，成都，2015.1 - 至今</p>
			<p>易我科技，自动化测试，成都，2012.3 - 2015.1</p>
			<p>云联科技，软件测试，成都，2010.3 - 2012.2</p>
			<hr/>
			<h2>项目经验</h2>
			<hr/>
			<h4>一、个人技术博客</h4>
			<p>项目时间：3个月</p>
			<p>项目介绍：个人技术博客系统</p>
			<p>项目地址：<a href="https://github.com/leehongqiang/hq-blog">泰兴物流</a></p>
			<p>开发环境：后端nodejs+ejs+mongodb，前端html5+css3+js</p>
			<p>个人工作内容：</p>
			<p>1：前端框架搭建交互设计</p>
			<p>2：前端数据组装</p>
			<p>3：前端组件封装</p>
			<p>4：后端框架搭建，数据库设计，CMS交互设计</p>
			<p>5：后端逻辑和数据驱动逻辑代码编写</p>
			<p>6：各个模块测试</p>
			<h4>二、助老之家商城</h4>
			<p>项目时间：7个月</p>
			<p>项目介绍：助老之家商城是一个基于老人的电商系统，主要功能包括首页商品模板展示，商品列表，商品详情，购物车，个人中心管理，一卡通管理，物流管理等，支付包括一卡通，微信，支付宝等。</p>
			<p>项目地址：<a href="http://171.221.200.73:8085/">助老之家商城</a></p>
			<p>开发环境：后端java+tomcat+mysql，前端html+css+js</p>
			<p>个人工作内容：</p>
			<p>1：前端框架搭建</p>
			<p>2：前端组件封装</p>
			<p>2：前端兼容性排查</p>
			<p>3：前端组团队组建</p>
			<p>3：前端组成员技能培训</p>
			<hr/>
			<h4>三、船渡科技官网</h4>
			<p>项目时间：1个月</p>
			<p>项目介绍：船渡科技官网主要是企业宣传</p>
			<p>项目地址：<a href="http://www.sccdkj.com/">船渡官网</a></p>
			<p>开发环境：后端java+tomcat+extjs+mysql，前端html5+css3+js</p>
			<p>个人工作内容：</p>
			<p>1：前端框架搭建</p>
			<p>2：前端组件封装</p>
			<hr/>
			<h4>四、泰兴物流官网</h4>
			<p>项目时间：1个月</p>
			<p>项目介绍：泰兴物流主要从事海外物流发货揽件等功能，主要目的是搭建一款高性能的物流系统平台</p>
			<p>项目地址：<a href="http://www.taixing56.com/">泰兴物流</a></p>
			<p>开发环境：后端java+tomcat+extjs+mysql，前端html5+css3+js</p>
			<p>个人工作内容：</p>
			<p>1：前端框架搭建</p>
			<p>2：前端组件封装</p>
			<h1>其他项目请查看 <a href="/">首页</a> 作品展示</h1>
		</div>
		<div class="col-sm-3">
			<div class="row">
				<div class="col-xs-12" >
					<div class="panel panel-default" style="box-shadow: 0px 0px 10px 0px rgb(0, 163, 255)">
						<div class="panel-heading">标签</div>
						<%tags.forEach(function (tag,index) {%>
						<a class="btn" href="/tag/<%=tag%>" style="background:<%=randomColor()%>;color: #000;font-weight: bold;box-shadow: 0px 0px 10px 0px;margin: 4px"><%=tag%></a>
						<%})%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include footer%>
